/* Reset and basic stuff */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
img {
  height: 300px;
  width: auto;
  border-radius: 25px;
  filter: drop-shadow(0 0 0.75rem black);
  margin: 25px 0;
}
img:hover {
  filter: drop-shadow(0 0 0.75rem white);
}
/* Header and NavBar */
header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  /* padding: 20px; */
  background-color: #1f2937;
  color: white;
}
.links {
  margin: 20px 0;
}
ul {
  display: flex;
  list-style-type: none;
}
.link {
  margin-left: 15px;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
a:hover {
  text-decoration: line-through;
}
.title {
  font-size: 24px;
  color: #f9faf8;
  justify-self: flex-start;
  margin: 20px 0;
}

.header-content {
  display: flex;
  flex-direction: column;
}
/* Section 1 */

.section1 {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 30px;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 350px;
  margin-top: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h2 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 15px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 15px 0;
}

button:hover {
  text-decoration: line-through;
}

/* section 2 */

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 200px;
}

.imgs {
  height: 100px;
  width: 100px;
  border: 5px solid #1f2937;
  border-radius: 10px;
  margin-bottom: 10px;
}
.infoblocks {
  display: flex;
}

.empty-img-n-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt {
  text-align: center;
}

#section2txt {
  color: #1f2937;
  margin: 25px;
}

/* section 3 qoute */

.section3 {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  background-color: #e5e7eb;
  text-align: center;
  padding: 75px 200px;
  display: flex;
  flex-direction: column;
}
.credits {
  align-self: flex-end;
  margin-top: 20px;
}
